.pokemon_container {
    border: 2px solid red;
    display: flex;
    flex-direction: row;
    width: 240px;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    color: black;
    overflow: hidden;
}

.pokemon_img {
    height: 100px;
    background-color: white;
}

.pokemon_desc {
    background-color: var(--light-gray);
    display: flex;
    height: 100px;
    justify-content: center;
    flex-direction: column;
    padding: 12px;
}

.pokemon_id {
    font-weight: 600;
}

.pokemon_name {
    font-weight: 900;
    font-size: 24px;
}

.type_container {
    margin-top: 4px;
    width: 120px;
    height: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.type_container div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 56px;
    background-color: red;
    font-size: 12px;
    font-weight: 700;
}


/*18px */