.pokemon_container {
    border: 2px solid red;
    display: flex;
    flex-direction: column;
    width: 300px;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    color: black;
    overflow: hidden;
}

.pokemon_img {
    width: 100%;;
    background-color: white;
}

.pokemon_desc {
    background-color: var(--light-gray);
    width: 100%;
    padding: 12px;
}

.pokemon_id {
    font-weight: 600;
}