$sea-green: #3c6e71;
$dark-gray: #495057;
$darker-gray: #363f46;
$light-gray: #d9d9d9;
$royal-blue: #023047;
$pastel-yellow: #fdfd96;
$pastel-blue: #acd8d9;
$pastel-red: #ff4d6d;
$gold: #e5b76c;
$hover-gold: #e28c00;
$dark-red: #b80d1d;
$hover-dark-red: #a01f2b;
$pastel-orange: #ff964f;
$light-black: #898585;
$rose-quartz: #F7CAC9;
$lavendar: #dedaf4;
$pastel-green: #BFFCC6;
$purple: #795695;
$blue: #0077B6;

$normal: #ccc6bd;
$fire: #ff9741;
$water: #3592dc;
$grass: #38bf4b;
$ground: #6d543e;
$electric: #fbd100;
$ice: #4dd1c0;
$fighting: #e03069;
$poison: #b667cf;
$ground: #e77235;
$flying: #88aae3;
$psychic: #fe6675;
$bug: #83c300;
$rock: #c7b685;
$ghost: #4c69b1;
$dragon: #016fc9;
$dark: #5c5467;
$steel: #5b8ea4;
$fairy: #fb8aeb;
