@use "variables";

.container {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
  background-color: variables.$pastel-yellow;

  > #banner_header {
    margin: 32px;
    font-style: italic;
    font-weight: 900;
    letter-spacing: 20px;
  }

  > div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8%;
    border-top: 8px double black;
    border-bottom: 8px double black;
    padding: 52px 0 20px 0;
    width: 72%;

    > .banner_container {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      > .banner_img {
        cursor: pointer;
        object-fit: cover;
        background-color: variables.$pastel-yellow;

        &:hover ~ .img_desc {
          text-decoration: underline;
          color: variables.$pastel-red;
        }
      }

      > .img_desc {
        margin-top: 24px;
        height: 60px;
        width: 200px;
        cursor: pointer;
        letter-spacing: 8px;
        font-weight: 800;
      }
    }
  }
}