@use "variables";

.container {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
  background-color: variables.$pastel-yellow;

  > #banner_header {
    margin: 0 0 32px 0;
    font-style: italic;
    font-weight: 900;
    letter-spacing: 20px;
    text-indent: 20px;

    > .letters {
      visibility: hidden;
    }

    > .letters.visible {
      animation: fade-in 0.4s forwards;
    }
  }

  > .card_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8%;
    border-top: 8px double black;
    border-bottom: 8px double black;
    padding: 52px 0 20px 0;
    width: 72%;

    > .banner_container {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 32px;

      > .banner_img {
        cursor: pointer;
        object-fit: cover;
        background-color: variables.$pastel-yellow;

        &:hover ~ .img_desc {
          text-decoration: underline;
          color: variables.$pastel-red;
        }
      }

      > .img_desc {
        margin-top: 24px;
        text-align: center;
        height: 60px;
        width: 200px;
        cursor: pointer;
        letter-spacing: 8px;
        text-indent: 8px;
        font-weight: 800;
      }

      &:hover {
        transform: scale(1.2);
        transition: transform 0.2s ease-in-out;
        z-index: 10;
      }
    }
  }

  > .icon_container {
    position: absolute;
    display: flex;
    flex-direction: row;
    gap: 60px;
    bottom: 40px;

    > img {
      height: 60px;
    }
  }
}

@keyframes fade-in {
  from {
    visibility: hidden;
  }

  to {
    visibility: visible;
  }
}
