@use "variables";
@use "userform";

.explore__container {
  display: flex;
  flex-direction: column;
  align-items: center;

  > .explore__header {
    @include userform.headerTheme;
  }

  > .explore__cards {
    margin: 20px 0;
    width: 72%;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(5, 1fr);
  }
}