@use "variables";

.explore__container {
  display: flex;
  flex-direction: column;
  align-items: center;

  > .explore__header {
    margin-top: 40px;
    letter-spacing: 8px;
    text-indent: 8px;
    font-weight: 900;
    color: variables.$pastel-red;
  }

  > .explore__cards {
    margin: 20px 0;
    width: 72%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
  }

  > .explore__paginate {
    
  }
}