@use "variables";
@use "userform";

.login_container {
  @include userform.containerTheme($theme: variables.$gold);
}

.login_button {
  @include userform.buttonTheme(
      $theme: variables.$gold,
      $hoverTheme: variables.$hover-gold
    );
}

.forgot_password {
  font-size: 12px;
  align-self: flex-end;
}
