@use "variables";
@use "userform";

.order__container {
  display: flex;
  flex-direction: column;
  align-items: center;

  .order__header {
    @include userform.headerTheme;
  }

  > .order__cards {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 20px;
  }
}
