@use "variables";

.pagination__container {
  display: flex;
  flex-direction: row;
  gap: 8px;
  margin: 20px 0 60px 0;
  align-items: center;

  > .button {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    font-weight: 900;
    cursor: pointer;

    &:hover {
      background-color: variables.$pastel-red;
      color: white;
    }
  }

  > .active {
    background-color: variables.$pastel-red;
    color: white;
  }
}
