@use "variables";

.pokeBanner_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  position: relative;
  z-index: 1;
  height: 100vh;
  background-color: variables.$rose-quartz;

  h2 {
    margin: 0 0 4px 5%;
    font-size: 40px;
    letter-spacing: 12px;
    font-weight: 900;
  }

  .pokemon_container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 40px;
  }

  .banner_image {
    position: absolute;
    top: 0;
    right: 20px;

    &:hover {
      transform: scale(1.4);
      transition: transform 1s ease-in-out;
    }
  }
}