.reset_container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid var(--pastel-orange);
    overflow: hidden;
    border-radius: 40px;
}