@use "variables";

.search_container {
  border-radius: 400px;
  display: flex;
  overflow: hidden;
  width: 40%;
  transition: border 0.4s ease;
  overflow: hidden;

  .search {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;
    flex-grow: 1;
    border-radius: inherit;
    background-color: white;

    #search_bar {
      height: 100%;
      flex-grow: 1;
      border: none;
      outline: none;
      font-size: 16px;
      padding-left: 8px;
    }

    #search_button {
      transform: scale(0.9);
      height: 100%;
      width: 50px;
      border: none;
      background-color: variables.$pastel-red;
      cursor: pointer;
      border-radius: inherit;
      transition: transform 0.4s ease, border-radius 0.4s ease;
    }
  }
}

.select_menu {
  outline: none;
  border: none;
  height: 48px;
  align-self: center;
  border-right: 1px solid black;
  border-top-left-radius: inherit;
  border-bottom-left-radius: inherit;
  overflow: hidden;

  > select {
    color: black;
    background-color: white;
    height: 100%;
    font-weight: 800;
    outline: none;
    border: none;
  }
}

.search:hover #search_button {
  transform: scale(1);
  border-radius: 0 40px 40px 0;
}
