@use "userform";

.sidebar__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  padding-left: 12px;
  height: 100%;

  > .sidebar__burger {
    cursor: pointer;
  }

  > .sidebar__dropdown {
    display: none;
    flex-direction: row;
    position: absolute;
    top: 64px;
    padding: 20px 0;
    overflow: hidden;
    z-index: 2;
    gap: 12px;
    left: 0;
    width: 100%;
    background-color: white;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    justify-content: space-evenly;

    > .sidebar__dropdown_shop {
      display: flex;
      flex-direction: column;

      > p {
        font-size: 20px;
        font-weight: 900;
        text-align: center;
        padding-bottom: 20px;
      }

      > a {
        @include userform.dropdownLetterTheme();
      }
    }

    > .sidebar__dropdown_user {
      display: flex;
      flex-direction: column;
    }
  }
}
