.type_container {
  margin-top: 4px;
  width: 120px;
  height: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 8px;

  > div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 56px;
    font-size: 12px;
    font-weight: 700;
    color: white;
  }
}

/* --------------------------=TYPES=-------------------------- */

.fire {
  background-color: var(--fire);
}

.flying {
  background-color: var(--flying);
}

.grass {
  background-color: var(--grass);
}

.normal {
  background-color: var(--normal);
}

.water {
  background-color: var(--water);
}

.ground {
  background-color: var(--ground);
}

.electric {
  background-color: var(--electric);
}

.ice {
  background-color: var(--ice);
}

.fighting {
  background-color: var(--fighting);
}

.poison {
  background-color: var(--poison);
}

.ground {
  background-color: var(--ground);
}

.psychic {
  background-color: var(--psychic);
}

.bug {
  background-color: var(--bug);
}

.rock {
  background-color: var(--rock);
}

.ghost {
  background-color: var(--ghost);
}

.dragon {
  background-color: var(--dragon);
}

.dark {
  background-color: var(--dark);
}

.steel {
  background-color: var(--steel);
}

.fairy {
  background-color: var(--fairy);
}
