.item_container {
    width: 240px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    cursor: pointer;

    .item_sprite {
        width: 100%;
        min-height: 100%;
        text-align: center;
        color: black;
        background-color: white;
    }

    .item_description {
        width: 100%;
        color: white;
        padding: 12px;
    }

    .item_name {
        font-weight: 900;
        font-size: 24px;
    }
}