.spacer {
  position: relative;
  aspect-ratio: 960 / 300;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.layer1 {
  position: relative;
  background-image: url("../assets/waves/home_waves1.svg");
  margin: 120px 0 80px 0;
}

.layer2 {
  position: relative;
  background-image: url("../assets/waves/home_waves2.svg");
  height: 740px;
  margin-bottom: 20px;
}
