#home_page {
    /* height: 100dvh; */
    background-color: var(--dark-gray);
}

/*-----------------------------=INFO BANNER=-----------------------------*/
.info_banner {
    display: flex;
    border: 4px solid var(--gold);
    border-radius: 32px;
    overflow: hidden;
    margin: 20px 60px;
}

#info_image {
    display: flex;
    width: 900px;
    height: auto;
    object-position: center;
}

.info_text {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: var(--gold);
    background-color: var(--dark-red);
    border-left: 2px solid var(--gold);
}

.info_text h1 {
    margin: 20px;
    font-weight: 900;
    text-align: center;
    font-size: 24px;
}

.sliver {
    width: 80%;
    border: 1px solid var(--gold);
}

.info_text p {
    margin: 20px;
    font-size: 16px;
    font-weight: 700;
    overflow: scroll;
}

.info_text p::-webkit-scrollbar {
    display: none;
}

/*-----------------------------=INFO BANNER=-----------------------------*/
.explore_container {
    position: relative;
    flex-direction: column;
    display: flex;
    color: white;
    background-color: var(--dark-gray);
}

.explore_container img {
    transform: scale(0.4);
}

/*-----------------------------=POKEMON BANNER=-----------------------------*/
.pokeBanner_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    position: relative;
    background-color: var(--dark-gray);
    margin: 120px 0;
}

.pokeBanner_container > div {
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.pokeBanner_item {
    border-radius: 20px;
}

.pokeBanner_item:hover {
    transform: translateY(-8px);
    box-shadow: 0 0 20px 1px var(--pastel-red);
    transition: transform 0.4s ease, box-shadow 0.4s ease;
}

.pokeBanner_header {
    display: flex;
    align-self: flex-start;
    margin-left: 72px;
    font-size: 28px;
}

/*-----------------------------=ITEM BANNER=-----------------------------*/
.itemBanner_container {
    display: flex;
    flex-direction: row;
    gap: 12px;
    margin: 0 60px;
    // padding: 20px 0;
    width: 70%;

    > div {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        border: 2px solid white;
        border-radius: 20px;
        justify-content: center;
        align-items: center;

        .itemContainer_description {
            display: flex;
            flex-direction: column;
            width: 240px;
        
            h2 {
                width: 100%;
                text-align: center;
            }
        
            p {
                width: 100%;
                text-align: center;
            }
        }
    }
}

.itemBanner_item {
    border-radius: 20px;
}

.itemBanner_item:hover {
    transform: translateY(-8px);
    box-shadow: 0 0 20px 1px var(--pastel-blue);
    transition: transform 0.4s ease, box-shadow 0.4s ease;
}

@media screen and (max-width: 1600px) {
    .info_text h1 {
        font-size: 20px;
    }
}

@media screen and (max-width: 1480px) {
    #info_image {
        width: 600px;
    }
}

@media screen and (max-width: 1224px) {
    #info_image {
        display: none;
    }
}