@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --sea-green: #3c6e71;
  --dark-gray: #495057;
  --darker-gray: #363f46;
  --light-gray: #d9d9d9;
  --royal-blue: #023047;
  --pastel-yellow: #fdfd96;
  --pastel-blue: #acd8d9;
  --pastel-red: #ff4d6d;
  --gold: #e5b76c;
  --dark-red: #b80d1d;
  --pastel-orange: #ff964f;

  --normal: #ccc6bd;
  --fire: #ff9741;
  --water: #3592dc;
  --grass: #38bf4b;
  --ground: #6d543e;
  --electric: #fbd100;
  --ice: #4dd1c0;
  --fighting: #e03069;
  --poison: #b667cf;
  --ground: #e77235;
  --flying: #88aae3;
  --psychic: #fe6675;
  --bug: #83c300;
  --rock: #c7b685;
  --ghost: #4c69b1;
  --dragon: #016fc9;
  --dark: #5c5467;
  --steel: #5b8ea4;
  --fairy: #fb8aeb;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
}

#web-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  background-color: var(--light-gray);
}

.container {
  color: white;
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 80px);
  max-width: 1480px;
  background-color: var(--dark-gray);
}

.form-container {
  color: white;
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 80px);
  width: 100%;
  background-color: var(--dark-gray);
}
