@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --black: #353535;
  --sea-green: #3c6e71;
  --white: #ffffff;
  --dark-gray: #495057;
  --light-gray: #d9d9d9;
  --royal-blue: #284b63;
  --neon-green: #b9fbc0;
  --neon-yellow: #d9ed92;
  --sky-blue: #caf0f8;
}

.container {
  display: flex;
  width: 100%;
}