.container {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 52px;
    justify-content: center;
    text-align: center;
}

.banner_container {
    position: relative;
    display: flex;
    flex-direction: column;
}

#banner_header {
    margin: 32px;
    font-style: italic;
    font-weight: 900;
    text-decoration: underline;
    color: var(--neon-green);
}

.banner_img {
    width: 200px;
    height: 200px;
    overflow: hidden;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    cursor: pointer;
}

.banner_img:hover {
    transform: scale(1.1);
    transition: transform 0.2s ease;
}

.img_desc {
    position: absolute;
    width: 100%;
    top: 220px;
    cursor: pointer;
}

.banner_img:hover ~ .img_desc {
    text-decoration: underline;
    color: var(--neon-green)
}